<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"> 
        <link 
            rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer" 
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/public/stylesheets/app.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/public/stylesheets/main.css"
        />

        <title>Apple Watch Page</title>
    </head>
    <body class="flex flex-col md:flex-row m-0 p-0 z-0 h-max w-screen flex-wrap">
        
        <div class="rounded-3xl main_div w-full h-h-90 md:h-screen md:pb-10 md:ml-28 overflow-x-hidden md:overflow-y-hidden lg:overflow-y-visible">
            <nav class="z-10 md:py-9">
                <div class="max-w-7xl mx-auto px-9 pt-7 md:pt-1">
                    <div class="relative flex items-center justify-between h-16">
                        <div
                            class="absolute inset-y-0 left-0 flex items-center md:hidden"
                        >
                            <!-- Mobile menu button-->
                            <button
                                type="button"
                                class="inline-flex items-center justify-center py-2 rounded-md text-gray-400 focus:outline-none"
                                aria-controls="mobile-menu"
                                aria-expanded="false"
                            >
                                <img src = "../public/images/apple_icon.png" alt="Apple"/>
                            </button>
                        </div>
                        <div
                            class="flex-1 flex items-center justify-center md:items-stretch md:justify-start"
                        >
                            <div class="flex-shrink-0 flex items-center pr-28">
                                <img class="hidden md:block" src = "../public/images/apple_icon.png" alt="Apple"/>
                            </div>
                            <div class="hidden md:block w-3/5 pt-1">
                                <!-- Desktop menu -->
                                <div id="desktop_menu" class="flex md:flex justify-between space-x-4 static">
                                    <a
                                        href="#"
                                        class="desktop-nav-links md:block absolute left-1/10 text-white hover:bg-white hover:font-semibold hover:text-light_cyan md:px-5 lg:px-8 py-2 rounded-full text-lg font-medium font-poppins"
                                        aria-current="page"
                                        >Mac
                                    </a>
                                    <a
                                        href="#"
                                        class="desktop-nav-links md:block absolute md:left-17p lg:left-1/5 text-white hover:bg-white hover:font-semibold hover:text-light_cyan md:px-5 lg:px-8 py-2 rounded-full text-lg font-medium font-poppins"
                                        >iPhone
                                    </a>
                                    <a
                                        href="#"
                                        class="desktop-nav-links lg:block absolute md:left-31p lg:left-3/10 text-white hover:bg-white hover:font-semibold hover:text-light_cyan md:px-5 lg:px-8 py-2 rounded-full text-lg font-medium font-poppins"
                                        >iPad
                                    </a>
                                    <a
                                        href="#"
                                        class="desktop-nav-links lg:block absolute md:left-43p lg:left-2/5 bg-white font-semibold text-light_cyan md:px-5 lg:px-8 py-2 rounded-full text-lg font-poppins"
                                        >iWatch
                                    </a>
                                    <a
                                        href="#"
                                        class="desktop-nav-links xl:block absolute md:left-61p lg:left-53p text-white hover:bg-white hover:font-semibold hover:text-light_cyan md:px-5 lg:px-8 py-2 rounded-full text-lg font-medium font-poppins"
                                        >Support
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Right Side options -->
                        <div
                            class="absolute inset-y-0 right-0 flex items-center md:static md:inset-auto md:ml-6 md:pr-0 "
                        >
                            <div id="search-bar" class="hidden text-left pl-5 pt-2 pr-7 sm:pr-10 md:pr-0 md:w-64 xl:w-72 h-10 bg-white/30 rounded-tl-full rounded-bl-full text-white font-poppins font-normal">
                                Search here
                            </div>
                            <button
                                type="button"
                                id="search_icon_btn"
                                class="rounded-tr-full rounded-br-full text-gray-400 hover:text-white focus:outline-none z-10 border-0 h-10 pr-3 divide-white/75"
                            >
                                <img id="search_icon" class="focus:outline-none outline-none border-none w-6" src="../public/images/search.svg" alt="search">
                            </button>
                            
                            <div class="ml-3 pl-6 relative border-l-3 border-white/75">
                                <div>
                                    <button
                                        type="button"
                                        class="flex text-sm rounded-full focus:outline-none"
                                        id="user-menu-button"
                                        aria-expanded="false"
                                        aria-haspopup="true"
                                    >
                                        <img src="../public/images/shopping_bag.svg" class="focus:outline-none" alt="bag"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Mobile menu, show/hide based on menu state. -->
                <div 
                    class="hidden md:hidden z-10 bg-white top-0 h-full fixed w-4/6 sm:w-2/5" 
                    id="mobile-menu"
                >
                    <div class="pt-2 pb-3 space-y-1 flex flex-col justify-between h-4/6 max-h-33">
                        <a
                            href="#"
                            class=" hover:bg-menu-cyan text-text-cyan hover:text-dark-text-cyan hover:font-semibold block px-20 py-2 text-lg font-medium w-full font-poppins text-center mt-32"
                            aria-current="page"
                            >Mac</a
                        >
    
                        <a
                            href="#"
                            class=" hover:bg-menu-cyan text-text-cyan hover:text-dark-text-cyan hover:font-semibold block px-6 py-2 text-lg font-medium font-poppins text-center w-full"
                            >iPhone</a
                        >
    
                        <a
                            href="#"
                            class=" hover:bg-menu-cyan text-text-cyan hover:text-dark-text-cyan hover:font-semibold block px-6 py-2 text-lg font-medium font-poppins text-center w-full"
                            >iPad</a
                        >
    
                        <a
                            href="#"
                            class=" bg-menu-cyan text-dark-text-cyan block px-6 py-2 text-lg font-semibold font-poppins text-center"
                            >iWatch</a
                        >

                        <a
                            href="#"
                            class=" hover:bg-menu-cyan text-gray-300 hover:text-dark-text-cyan hover:font-semibold block px-6 py-2 text-lg font-medium font-poppins text-center"
                            >Support</a
                        >
                    </div>
                </div>
            </nav>


            <div class="flex flex-col md:flex-row md:pr-11 text-white md:h-max" >

                <div class="w-full md:w-3/5 p-8 md:p-11 pt-16 md:pt-18 lg:pt-20 font-poppins relative md:h-full">
                    <h1 class="font-poppins text-mini leading-mini lg:text-big lg:leading-big xl:text-huge xl:leading-huge font-semibold">The Perfect Moment</h1>
                    <h2 class="font-poppins text-mini leading-mini lg:text-big lg:leading-big xl:text-huge xl:leading-huge font-normal mb-12">Between Past And Future.</h2>
                    <button class="font-poppins border-solid border-white rounded-full border-3 py-3.5 px-10 md:px-10 lg:px-14 font-medium text-2xl md:text-xl lg:text-2xl">
                        Buy Now
                    </button>
                    <img class="hidden md:block absolute -bottom-40" src="../public/images/page_indicator.svg" alt="Page Indicator">
                </div>
    
                <div class="w-full md:w-2/5 flex justify-center md:block">
                    <div class="relative flex flex-row mb-18 md:mb-6 pl-0 md:px-0">
                        <img class="max-w-md w-5/6 md:pt-6" src="../public/images/main_watch.svg" alt="Apple Watch">
                        <img class="self-center mb-20 md:mb-0 md:h-32 lg:h-auto" src="../public/images/color_indicator.svg" alt="Indicator">
                    </div>
    
                </div>
                
            </div>
            
            <div class="hidden md:flex flex-row w-full justify-end md:px-6 lg:px-8 xl:px-16">
                <img class="md:mr-2 lg:mr-4 md:w-28 lg:w-auto" src="../public/images/b_watch_2.svg" alt="Black Varient">
                <img class="md:mx-2 lg:mx-4 md:w-28 lg:w-auto" src="../public/images/g_watch_2.svg" alt="Green Varient">
                <img class="md:ml-2 lg:ml-4 md:w-28 lg:w-auto" src="../public/images/r_watch_2.svg" alt="Rose Gold Varient">
            </div>
        </div>
        
        <div class="px-6 md:px-0 main_div_2 w-full md:w-28 h-5.5 md:h-full bg-white flex flex-row md:flex-col justify-between items-center fixed bottom-0 z-20">
            <img class="md:mt-11 w-8" id="nav_icon" alt="menu icon" src="../public/images/nav_menu.svg">
            <div class="flex flex-row md:flex-col md:mb-16 items-center">
                <i class="fab fa-facebook-f mr-5 md:mb-6 md:mr-0 text-3xl text-light_cyan"></i>
                <i class="fab fa-twitter mr-5 md:mb-6 md:mr-0 text-3xl text-light_cyan"></i>
                <i class="fab fa-linkedin-in mr-5 md:mr-0 text-3xl text-light_cyan"></i>
            </div>
        </div>
        <script src="/public/js/index.js"></script>
    </body>
</html>
